@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500..900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
}
*,
::before,
::after {
  border-width: 0;
}

.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 179, 92, 0.12) 5.56%,
    rgba(92, 31, 217, 0.12) 94.2%
  );
}
.gradient-text {
  background: linear-gradient(
    89.91deg,
    rgba(125, 62, 255, 0.84) -1.53%,
    #ffb35d 46.27%,
    rgba(120, 54, 255, 0.84) 99.88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 130px;
  font-family: Urbanist;

  font-weight: 800;
  text-align: center;
}
@media (min-width: 768px) {
  .gradient-text {
    font-size: 2rem;
  }
}

@media (min-width: 1536px) {
  .gradient-text {
    font-size: 7rem !important;
  }
}
@media (min-width: 1000px) and (max-width: 1535px) {
  .gradient-text {
    font-size: 92px !important;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .gradient-text {
    font-size: 3rem !important;
  }
}
@media (min-width: 1024px) and (max-width: 1360px) {
  .heading {
    font-size: 3rem !important;
  }
  .card-container {
    padding: 0.5rem;
    width: 50% !important;
    height: 40vh !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 3rem !important;
  }
  .contact-button{
    width: 40vw !important;
    font-size: 0.9rem !important;
  }
  .card-container {
    padding: 0.5rem;
    width: 50% !important;
    height: 30vh !important;

  }

 .card{
    margin-left: 0rem !important;
  }
  .contact{
    margin-left: 0rem !important;
  }
}
@media (min-width: 540px) and (max-width: 768px) {
  .heading {
    font-size: 3rem !important;
  }
  .contact-button{
    width: 40vw !important;
    font-size: 0.9rem !important;
    margin: 0 !important;
  }
  .card-container {
    padding: 0.5rem;
    width: 50% !important;
    height: 45vh !important;
  }
  .card{
    margin: 0 !important;
  }
  .contact{
    margin-left: 0 !important;
  }
  .para{
    font-size: 1.2rem;
  }
  
}
@media (min-width: 250px) and (max-width: 540px) {
  .heading {
    font-size: 3rem !important;
  }
  .card-container {
    padding: 0.5rem;
    width: 90% !important;
    height: 45vh !important;
  }
  .card{
    margin: 0 !important;
  }
  .contact{
    margin-left: 0 !important;
  }
.contact-button{
  margin: 0 !important;
  width: 80vw !important;
  font-size: 1rem !important;
}
.para{
  font-size: 1rem;
}
}

.text-gradient {
  background: linear-gradient(
    89.91deg,
    rgba(125, 62, 255, 0.84) -1.53%,
    #ffb35d 46.27%,
    rgba(120, 54, 255, 0.84) 99.88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: Urbanist;
  font-size: 3.3rem;
  font-weight: 800;
  text-align: center;
}
.contact-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 20rem 10rem 20rem;
  border-radius: 20px;
  width: 100%;
}
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  width: 80%;
  
}

.contact-us-card {
  background-color: #eee4fb;
  border-radius: 50px;
  padding: 22px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 70%;
  height: 40vh;
}
.rectangle {
  width: 40%;
  height: 20%;
  background-color: #ffffff;
}
.contact-us-card h2 {
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.underline {
  width: 45%;
  height: 0.2rem;
  background-color: #8000ff;
}

.contact-us-card p {
  font-size: 16px;
  color: #555;
  line-height: 33px;
  padding: 2rem 8rem 2rem 0rem;
}

.integer-button {
  background-color: transparent;
  border: 2px solid #8000ff;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  width: 12rem;
}
.integer-button:hover {
  background-color: #8000ff;
  color: #fff;
}

.contact-us-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-image {
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}
.contact-button {
  background-color: #ffb35c; /* Orange color */
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1rem 3rem; /* Adjusted padding */
  font-size: 2rem; /* Relative font size */
  font-weight: 500;
  line-height: 1; /* Adjusted line height */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 30vw; 
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .contact-button {
    font-size: 4vw; /* Adjusted font size for smaller screens */
    padding: 1rem 2rem; /* Adjusted padding */
    width: 80vw; /* Adjusted width for smaller screens */
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee4fb;
  border-radius: 20px;
  width: 30%; 
  height: 40vh; /* You can keep this if you want a default height */
  max-width: 90%; /* Limiting maximum width to 90% of the container */
  max-height: 80vh; /* Limiting maximum height to 80% of the viewport height */
  
}

.card-content {
  background-color: #fff;
  border-radius: 20px;
  width: 90%; /* Relative width */
  height: 80%; /* Relative height */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-bar {
  width: 90%; /* Relative width */
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}


.footer {
  background-color: #eee4fb;
  padding: 40px 20px;
  border-radius: 30px;
  max-width: 80%;
  width: 70%;
  margin: 20px auto;
  color: #000000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  padding-bottom: 5rem;
}

.about .logo {
  width: 40%;
  margin-bottom: 20px;
}

.about p {
  max-width: 300px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.circle {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
}

.links h2 {
  color: #5a10d9;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 10px;
}

.links a {
  display: block;
  color: #000000;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
  margin-top: 20px;
  border-top: 2px solid #FEFBFF;
  padding-top: 10px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #000000;
}
.footer-bottom p {
  margin-left: 12px;
}
